/* ======================== Formular ======================== */
@font-face {
  font-family: 'Formular';
  src: url('../assets/fonts/Formular-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FormularMedium';
  src: url('../assets/fonts/Formular-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ======================== Greenwich ======================== */
@font-face {
  font-family: 'Greenwich';
  src: url('../assets/fonts/Greenwich-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GreenwichMedium';
  src: url('../assets/fonts/Greenwich-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}